body{
    background-color: rgb(255 27 27 / 78%);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.middle-box{
    display: block;
    width: fit-content;
    margin: 4em auto;
    size: 25px;
    background-color: white;
    height: 470px;
    width: 600px;
    border-radius: 20px;
    box-shadow: 0px 5px 100px 0px rgba(0, 0, 0, 0.205);
}

.content-title{
    width: fit-content;
    font-weight: bold;
    font-size: 35px;
    padding-top: 45px;
    padding-left: 130px;
    font-family: Verdana, Geneva, Tahoma,monospace, sans-serif ;
}

.yt-vid{
    padding-top: 15px;
    padding-left: 20px;
}