@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    letter-spacing: 2px;
    /* background-image: url("gamb1.jpg"); */
    background-size: cover;
    background: white;
}

h2{
    text-align: center;
    margin: 20px 0 40px;
}

/* NAVBAR */

nav {
    height: 60px;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

nav ul li {
    line-height: 60px;
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    /* text-transform: uppercase; */
    font-size: 16px;
    color: rgb(46, 46, 46);
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover {
    background: black;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
}

nav ul li a {
    font-size: 20px;
}

a.active,a:hover {
    background: none;
    color: #6565ff;
}

#check:checked ~ ul {
    left: 0;
}

/* WELCOME SECTION */

    #welcome-section{
    background: rgb(255,255,255);
    background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(210,210,255,1) 50%, rgba(210,210,255,1) 100%);    height: 600px;
    height: 60vh;
  }

  .welcome-class{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
    gap: 20px;
  }
  
  #opening-word{
    padding: 0;
  }
  
  .hello{
    font-size: 15px;
  }

  #pfp{
    width: 200px;
  }

  /* PROJECTS */

  #projects{
    height: 60vh;
    width: 100%;
    margin: 0 auto;
    gap: 30px;
  }

  #project-tiles{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
  }

  .project-tile a{
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    height: 38vh;
    width: 30vh;
    background: linear-gradient(120deg, rgba(255,255,255,0.5) 0%, rgba(186,186,255,0.5) 100%);
    border: 1px solid #6565ff65;
  }

  .project-tile:not(:first-of-type) {
    margin-left: 30px;
  }

  .project-desc{
    display: flex;
    padding-top: 15px;
  }

  .project-tile > a > img {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    height: 100px;
  }

  /* SOCIAL MEDIA LINKS */

  #links{
    background: rgb(255,255,255);
    background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(210,210,255,1) 50%, rgba(210,210,255,1) 100%);
    height: 45vh;
    margin-block: 0;
  }

  #links h2 {
    padding-top: 20px;
  }
  
  #links > a{
    display: flex;
    font-size: 30px;
    text-decoration: none;
    color: #6565ff;
    margin: 10px auto 0;
    height: fit-content;
    width: 155px;
  }

  #links > a > p {
    font-size: 15px;
    margin: auto 10px auto;
  }


/* FOOTER */
    
  footer {
      background-color: #6565ff;
      display: flex;
      justify-content: center;
  }
  
  footer,
  footer a {
    color: white;
  }
  
  address {
    text-align: center;
    padding: 0.5em;
  }

  address a:hover {
    color: black;
  }

@media (max-width: 952px) {
    /* label.logo {
        font-size: 30px;
        padding-left: 50px;
    } */
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        margin: 0 auto;
    }
    ul {
        position: fixed;
        height: 100vh;
        width: 100%;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        line-height: 30px;
        margin: 50px 0;
    }
}


